<section>
  <h2>Entre como participante</h2>
  <form action="/enterroom" method="POST" >
    <label class="sr-only" for="room-id">Código da Sala</label>
    <input name="roomId" type="number" id="room-id" placeholder="Código da Sala">
    <button class="button">
      <img src="/images/log-in.svg" alt="Entrar na Sala">
     Entrar na Sala
    </button>
  </form>
</section>

<!--separator-->
<div class="separator">
<div></div>
<div>ou</div>
<div></div>
</div>

<!--Create Room-->
<section>
<h2>Crie sua própria sala</h2>
<a href="/create-room" class="button outlined">
  <img src="/images/users.svg" alt="Criar Sala" />
  Criar Sala
</a>
</section>