<div class="noquestion" >

  <img src="/images/questions.svg" alt="Sem perguntas">
  <p>Nenhuma Pergunta por aqui</p>
  <p>Faça sua primeira pergunta ou <br>
  envie o código dessa sala para outras pessoas!</p>

</div>

